<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <i class="fa fa-user"></i>
    </div>

    <!-- Login Form -->
    <form (submit) = "onLogin()">
      <input [(ngModel)]="username" type="text" id="login" class="fadeIn second"  placeholder="login" [ngModelOptions]="{standalone: true}">
      <input [(ngModel)]="password" type="password" id="password" class="fadeIn third"  placeholder="password" [ngModelOptions]="{standalone: true}">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Sign up -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Register here</a>
    </div>
    <p *ngIf="errorLogin" class="text-danger mt-2">Username or Password is incorrect !</p>
  </div>
</div>
