<div class="container mt-5">
  <h1 class="text-center text-primary">{{title}}</h1>
  <ul class="nav justify-content-center">
      <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/users" routerLinkActive="active" class="nav-link" href="#">Users</a>
      </li>
      <li class="nav-item">
        <a routerLink="/login" routerLinkActive="active" class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a routerLink="/home" (click)="onLogout()" class="nav-link" href="#">Logout</a>
      </li>
  </ul>
  <div class="contianer">
    <div class="row">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
